@import "effects";

@mixin box($size: 100px, $bRadius: 13px, $body-color: black) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    border-radius: $bRadius;
    background-color: $body-color;
    aspect-ratio: 1;
    transition: background-color $hover-setting;
    &:hover {
        background-color: lighten($body-color, 60%);
        @include transition(background-color)
      }
}

@mixin box-shadow($shadows...) {
    box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
}