@import "../partials/box";
@import "../partials/_fonts.scss";
@import "../partials//responsive";

@include google-font("Roboto Condensed");

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
