@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

html {
    font: 16px/1.5 Helvetica;
}

body, table, input {
    font: inherit;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 0.5em * calc($i + 1);
    }
}